#bigBox{
    width: 350px;
    margin: 100px auto;
    background: rgb(11, 5, 31);
    box-shadow: 5px 5px 15px lightgrey, 0 0 15px lightgray;
    position: relative;
    border-radius: 30px;
    padding: 30px;
    font-size: 50px;
    text-align: right !important;
}
input{
    width: 94%;
    height: 70px;
    background: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
}
#btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 20px 13px 0 14px;
    color: black;
    font-size: 30px;
    font-weight: 700;
    background: white
}
#plus{
    background: rgb(46, 255, 46);
}
#minus{
    background: rgb(60, 60, 255);
}
#equals{
    background: rgb(255, 191, 73);
}
#multiple{
    background: rgb(255, 255, 82);
}
#divide{
    background: rgb(255, 63, 63);
}
#percent{
    background: rgb(255, 191, 73);
}
#root{
    background: rgb(165, 132, 255);
}